# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Data (keep only small samples)
data/*.csv
!data/sample.csv  # allow a small sample

# Results (ignore heavy files)
results/*.pkl
results/*.log

results/*.csv
results/*.joblib
results/*.png